<h1>Private Events</h1>
<ul>Where will you go today?</ul>
  <% @events.each do |e|%>
    <li>
      <p><%= e.name %></p>
      <p><%= e.location %></p>
      <p><%= e.date %></p>
      <p> <%= link_to 'Show event details', event_path(e.id) %> </p>
    </li>
  <% end %>

<div>
  <%= link_to 'Create new event!', new_event_path %>
</div>

<div>
  <%= link_to 'See your events!', user_path(current_user.id) %>
</div>
