<h1>Private Events</h1>
<ul>Where will you go today?</ul>
<div>

<div>
  <p>Upcoming events:</p>
  <ul>
    <% @events.future.order(date: :asc).each do |e| %>
      <li>
        <p><%= e.name %></p>
        <p><%= e.location %></p>
        <p><%= e.date.localtime %></p>
         <p> <%= link_to 'Show event details', event_path(e.id) %> </p>
      </li>
    <% end %>
  </ul>
</div>

  <p>Past events:</p>
  <ul>
    <% @events.past.order(date: :asc).each do |e| %>
      <li>
        <p><%= e.name %></p>
        <p><%= e.location %></p>
        <p><%= e.date.localtime %></p>
        <p> <%= link_to 'Show event details', event_path(e.id) %> </p>
      </li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <div>
    <p>
      <%= link_to 'Create new event!', new_event_path %>
    </p>
  </div>


  <div>
    <p>
      <%= link_to 'See your events!', user_path(current_user.id) %>
    </p>
  </div>

  <div>
    <p>
      <%= link_to 'Log out', destroy_user_session_path, data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }  %>
    </p>
  </div>
<% end %>
