<div>
  <%= @event.name %>
</div>

<p>
  Event of: <%= @event.creator.email %>
</p>

<p>
  <%= @event.location %>
</p>

<p>
  <%= @event.date.localtime %>
</p>

<div>
  Attendees:
  <ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
    <% end %>
  </ul>
</div>

<div>
  <p>Want to register for the event?</p>
  <%= render "event_invite/register" %>
</div>

<% if @event.attendees.include?(current_user) %>
  <div>
    <p>Not coming?</p>
    <%= link_to "Destroy", event_invite_path(@event_invite), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  </div>
<% end %>

<% if current_user == @event.creator %>
  <div>
    <p>Change something about the party?</p>
    <p><%= link_to "Edit", edit_event_path(@event) %></p>
  </div>

  <div>
    <p>Call off the party?</p>
      <%= link_to "Destroy", event_path(@event), data: {
                                                        turbo_method: :delete,
                                                        turbo_confirm: "Are you sure?"
                                                       } %>
  </div>
<% end %>
<div>
  <p>
    <%= link_to 'Home', root_path %>
  </p>
</div>
