<div>
  <%= @event.name %>
</div>

<p>
  Event of: <%= @event.creator.email %>
</p>

<p>
  <%= @event.location %>
</p>

<p>
  <%= @event.date.localtime %>
</p>

<div>
  Attendees:
  <ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
    <% end %>
  </ul>
<div>

  <p>Want to register for the event?</p>
  <%= render "event_invite/register" %>
</div>

<div>
  <%= link_to 'Home', root_path %>
</div>
